# {{ ansible_managed }}

# Base Repo
deb {{ repos_transport_protocol }}://{% if repos_apt_cacher_url | length %}{{ repos_apt_cacher_url }}{% endif %}{{ repos_debian_base_host }}/debian/ {{ ansible_lsb.codename }} main

# Security Updates Repo
deb {{ repos_transport_protocol }}://{% if repos_apt_cacher_url | length %}{{ repos_apt_cacher_url }}{% endif %}{{ repos_debian_security_host }}/debian-security {% if ansible_distribution_major_version | int > 10 %}{{ ansible_lsb.codename }}-security{% else %}{{ ansible_lsb.codename }}/updates{% endif %} main
# Updates Repo
deb {{ repos_transport_protocol }}://{% if repos_apt_cacher_url | length %}{{ repos_apt_cacher_url }}{% endif %}{{ repos_debian_base_host }}/debian/ {{ ansible_lsb.codename }}-updates main
