[updates]
name=Fedora $releasever - $basearch - Updates
#baseurl={{ repos_transport_protocol }}://{{ repos_fedora_base_host }}/pub/fedora/linux/updates/$releasever/Everything/$basearch/
metalink={{ repos_transport_protocol }}://{{ repos_fedora_mirrors_host }}/metalink?repo=updates-released-f$releasever&arch=$basearch
enabled=1
countme=1
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False

[updates-debuginfo]
name=Fedora $releasever - $basearch - Updates - Debug
#baseurl={{ repos_transport_protocol }}://{{ repos_fedora_base_host }}/pub/fedora/linux/updates/$releasever/Everything/$basearch/debug/
metalink={{ repos_transport_protocol }}://{{ repos_fedora_mirrors_host }}/metalink?repo=updates-released-debug-f$releasever&arch=$basearch
enabled=0
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False

[updates-source]
name=Fedora $releasever - Updates Source
#baseurl={{ repos_transport_protocol }}://{{ repos_fedora_base_host }}/pub/fedora/linux/updates/$releasever/Everything/SRPMS/
metalink={{ repos_transport_protocol }}://{{ repos_fedora_mirrors_host }}/metalink?repo=updates-released-source-f$releasever&arch=$basearch
enabled=0
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False
